<div class='container mt-2'>
    <div class="row ">
        <div class="col-12 text-center">
            <img id='burger-pic' src="/assets/img/burger.png" alt="Burger">
        </div>
        <div class="col-12 text-center">
            <h1 id='burger-logo'>W E L C O M E &nbsp; T O &nbsp; B U R G E R L A N D</h1>
        </div>
    </div>
</div>